@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/background3-home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto;
    line-height: 1.4;
    width: 100%;
   /* height: 100vh; */
    overflow-x: hidden;

}


a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

/* utility classes */

#container{
    margin: 30px auto;
    max-width: 1900px;
    overflow: auto;
    padding:20px;
    display: flex;
    /* border: 2px solid white; */
    /* position: absolute; */
}

.wrapper{
    margin: 30px auto;
    max-width: 1300px;
    /* height: 100vh; */
    min-height: 100vh;
    position: relative;
    overflow: auto;
    padding:20px;
    /* border: 2px solid blue; */
}

#delight {
    border-bottom: 1px solid goldenrod;
    max-width: 90%;
    margin: 0 auto;
}

.flex{
    display: flex;
    gap: var(--gap, 1.5rem);
    justify-content: space-around;
    flex-wrap: wrap;

}

.flexi{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.text-center{
    text-align: center;
}

.bg-dim{
    background: #f9f5f0;
}

.bg-dark{
    color: #fff;
    background: #333;
}

.line{
    border-bottom: 2px solid #ff324d;
    width: 40px;
    text-align: center;
}

.l-heading{
    font-family: 'Kaushan Script', cursive;
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.m-heading{
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.s-heading {
    font-family:  'Josefin Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.ms-heading{
    font-family:  'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    /* color: #ff324d; */
}

.p-heading {
    font-family:  'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.n-heading{
    font-family:  'Josefin Sans', sans-serif;
    color: goldenrod;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-weight: 100;
    color: goldenrod;
    text-align: start;
}

.leads{
    font-size: 1.2rem;
    font-weight: 100;
    color: goldenrod;
    text-align: start;
}


.text-primary{
    color: #FFD700;
}

.py-1 {padding-block: 1.5rem;}
.py-2 {padding-block: 2rem;}
.py-3 {padding-block: 3rem;}
    
.p-1 {padding:min(30vh, 1.5rem);}
.p-2 {padding: 2rem;}
.p-3 {padding: 3rem;}
    

.btn {
    display: inline-block;
    color: #FFD700;
    background: #ff324d;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn-2 {
    display: inline-block;
    color: #fff;
    background: #FFD700;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 25px;
}

.btn:hover{
    background: transparent;
    border: 1px solid red;
}

.btn-2:hover{
    background: transparent;
    color: #ff324d;
    border: 1px solid red;
}

.btn-center{
    margin: auto;
    text-align: center;
}

/* navbar */

.logo-img{
    width: 200px;
    height: 70px;
    color: #fff;
    /* border-radius: 50px; */
}

#navbar{
    background: #333;
    /* position: sticky; */
    top: 0;
    color: #fff;
    padding: 0.5rem;
    align-items: center;
    z-index: 1;
    width: 100%;
}

#navbar ul{
    list-style: none;
}

#navbar ul li {
    position: relative;
}

#navbar ul li a {
    color:#fff;
}


#navbar ul li a:hover{
    border-bottom: 2px solid #ff324d;
    padding-bottom: 0.5rem;
}


.searchBar input{
    border: none;
    outline: none;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    /* display: none; */
    /* opacity: 0; */
}

.fadeout{
    opacity: 0;
}

.fadein {
    opacity: 1;
}

.texxt {
    padding: 0.2rem;
}

.texxt i {
    /* border: 2px solid red; */
    font-size: 2rem;
    /* font-weight: 300; */
    padding-top: 10px;
    padding-right: 10px;
    /* margin-bottom: 10px; */
}



/* grouping part */

/* #container .cardes{ */
.cardes{
    display: block;
    background: #f7f7f7;
    margin: 30px auto;
    /* padding: 10px; */
    border: none;
    outline: none;
    width: 500px;
    /* position: absolute; */
    /* top: auto;
    left: auto; */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

.fa-plus {
    float: right;
}

span {
    background: #e74c3c;
    /* height: 100%; */
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s;
    opacity: 0;
}

li:hover span{
 width: 40px;
 /* height: 100%; */
 opacity: 1.0;
}

h1 {
    background: goldenrod;
    color: #fff;
    font-weight: normal;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    
}

li {
    background: #fff;
    /* height: 40px; */
    height: 100%;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n){
    background: #f7f7f7;
}

  input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    outline: none;
    border: none;
    /* text-transform: lowercase; */
}

ul {
    list-style: none;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

#footing {
    text-align: center;
    background:  #232B2B;
    color: #FFD700;
    padding: 20px;
    border: none;
}

#footing .footer-icon i{
    color: #444;
    background: #f9f5f0;
    padding: 0.75rem;
    border-radius: 50px;
    margin-top: 0.3rem;
    text-align: center;

}

#footing .footer-icon i:hover{
    background: goldenrod;
    color: #fff;
}


@media (max-width: 48rem){

    .logo-img {
        width: 100px;
        height: 40px;
        /* display: none; */
    }

    .texxt {
        width: 200px;
    }

    .texxt i {
        padding-top: 5px;
        display: none;
    }

    .searchBar input{
        border: none;
        text-decoration: none;
        padding: 10px;
        /* border-radius: 40px; */
        margin: 5px;
        width: 120px;
        font-size: 12px;
        display: none;
    }

    #delight {
        border-bottom: 1px solid goldenrod;
        max-width: 90%;
        margin: 0 auto;
        font-size: 1.5rem;
    }
}


